# Feature Scaling

Normalization Techniques:
    
1.Rescaling: MinMaxScaler
        (0,1)
        
2.Standardising : StandardScaler
        float values 
        Z-score

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data = pd.DataFrame({'x1':np.random.chisquare(10,1000),
'x2':np.random.beta(10,2,1000)*40,
'x3':np.random.normal(50,3,1000)})
data

            x1         x2         x3
0    13.916028  29.923484  48.007096
1     8.999500  29.634736  49.603255
2     3.875272  31.323093  41.473486
3     7.719152  29.637103  54.742253
4     6.947330  36.629922  51.219081
..         ...        ...        ...
995   5.882939  36.982842  51.781622
996  10.503510  34.903674  52.914072
997  10.105538  29.462218  50.496114
998   9.411950  33.682794  44.177899
999  11.732327  33.055290  52.283932

[1000 rows x 3 columns]

In [8]:
from sklearn.preprocessing import MinMaxScaler
ms=MinMaxScaler()
data1=ms.fit_transform(data)
data1

array([[0.44018419, 0.60177607, 0.36850863],
       [0.2661014 , 0.59030714, 0.44394485],
       [0.08466443, 0.65736794, 0.05972292],
       ...,
       [0.30526361, 0.58345477, 0.48614236],
       [0.28070528, 0.75109425, 0.1875365 ],
       [0.36286442, 0.72617007, 0.57063664]])

In [16]:
data1[1].min()

0.26610140193486126

In [17]:
data1[1].max()

0.5903071442608835

In [18]:
data = pd.DataFrame({'x1':np.random.chisquare(10,1000),
'x2':np.random.beta(10,2,1000)*40,
'x3':np.random.normal(50,3,1000)})
data

            x1         x2         x3
0    10.540904  34.709330  50.225706
1    10.959311  37.515444  48.218027
2    16.235863  25.766240  50.884046
3    10.862900  29.989924  53.189606
4     7.147225  38.282474  46.639166
..         ...        ...        ...
995   6.703317  24.055505  49.320356
996   6.542913  34.081303  49.608510
997   8.617184  32.652265  48.339795
998   9.909049  38.744914  53.950124
999  13.845007  29.902949  47.062995

[1000 rows x 3 columns]

In [19]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
sc1=sc.fit_transform(data)
sc1

array([[ 0.09696232,  0.38594107,  0.07898984],
       [ 0.19152075,  1.05352018, -0.59096449],
       [ 1.3840032 , -1.74163422,  0.29867518],
       ...,
       [-0.33779187, -0.10343779, -0.55033112],
       [-0.04583488,  1.34601305,  1.32181286],
       [ 0.84367808, -0.75750459, -0.97639401]])