# Day 12 : Random Forest

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
dataset = pd.read_csv('D:/SNA1.csv')
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [5]:
dataset.shape

(400, 5)

In [6]:
X=dataset.iloc[:,[2,3]].values
y=dataset.iloc[:,4].values

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [24]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [25]:
#Model Building
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=200,criterion='entropy',random_state=0)
model1 = model.fit(X_train,y_train)
model1

RandomForestClassifier(criterion='entropy', n_estimators=200, random_state=0)

In [26]:
y_pred=model1.predict(X_test)

In [27]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm=confusion_matrix(y_test,y_pred)
cm

array([[54,  4],
       [ 1, 21]], dtype=int64)

In [28]:
accuracy_score(y_test,y_pred)

0.9375